body {
    background: linear-gradient(to bottom, lightblue, rgb(0, 139, 74));
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.User {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    width: 25%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #000;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.button {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
}
.button:hover{
    background-color:#f30707;
    color:#ffffff;
}
#Editar-button:hover{
    background-color: blue;
}